#load {
    position: fixed;
    display: block;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body
{
    font-size:18px;
    font-family:'Times New Roman', Times, serif;
}

#top {
    width: 100%;
    height: 6vw;
    background-color: #D10024;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

.top-menu {
    font-size: 3.5vw;
    /*alinha texto*/
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

.menu-click {
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    position: relative;
    margin-left: 2vw;
    margin-right: 2vw;
    float: left;
    background-color: #1b3af2;
    border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
    color: white;
    z-index: 1;
}

#top-line {
    width: auto;
    height: 0.1vm;
    background-color: #1b3af2;
    font-size: 0.1vm;
    color: #1b3af2;
}