body
{
    font-size:18px;
    font-family:'Times New Roman', Times, serif;
}

#top {
    width: 100%;
    height: 6vw;
    background-color: #ff1a1a;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.top-menu {
    width:30vw;
    position:relative;
    font-size: 3.5vw;
    background-color:aqua;
}